<div class="scroll-to-wrapper" id="{{ section.settings.id }}"></div>

{% schema %}
  {
    "name": "Scroll to",
    "settings": [
      {
        "type": "text",
        "id": "id",
        "label": "Id"
      }
    ],
    "presets": [
      {
        "name": "Scroll to"
      }
    ]
  }
{% endschema %}