@font-face {
  font-family: 'GT Walsheim';
  font-weight: 300;
  src:  url('https://cdn.shopify.com/s/files/1/0834/8034/6932/files/GT-Walsheim-Light.woff2') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0834/8034/6932/files/GT-Walsheim-Light.woff') format('woff');
}
@font-face {
  font-family: 'GT Walsheim';
  font-weight: 400;
  src:  url('https://cdn.shopify.com/s/files/1/0834/8034/6932/files/GT-Walsheim-Regular.woff2') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0834/8034/6932/files/GT-Walsheim-Regular.woff') format('woff');
}

@font-face {
  font-family: 'HK Grotesk';
  font-weight: 400;
  src:  url('https://cdn.shopify.com/s/files/1/0834/8034/6932/files/HKGrotesk-Regular.woff2') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0834/8034/6932/files/HKGrotesk-Regular.woff') format('woff');
}
@font-face {
  font-family: 'HK Grotesk';
  font-weight: 500;
  src:  url('https://cdn.shopify.com/s/files/1/0834/8034/6932/files/HKGrotesk-Medium.woff2') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0834/8034/6932/files/HKGrotesk-Medium.woff') format('woff');
}
@font-face {
  font-family: 'HK Grotesk';
  font-weight: 600;
  src:  url('https://cdn.shopify.com/s/files/1/0834/8034/6932/files/HKGrotesk-SemiBold.woff2') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0834/8034/6932/files/HKGrotesk-SemiBold.woff') format('woff');
}
@font-face {
  font-family: 'HK Grotesk';
  font-weight: 700;
  src:  url('https://cdn.shopify.com/s/files/1/0834/8034/6932/files/HKGrotesk-Bold.woff2') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0834/8034/6932/files/HKGrotesk-Bold.woff') format('woff');
}
@font-face {
  font-family: 'HK Grotesk';
  font-weight: 800;
  src:  url('https://cdn.shopify.com/s/files/1/0834/8034/6932/files/HKGrotesk-ExtraBold_7a8355f8-3635-4526-91f1-3ca8438673c8.woff2') format('woff2'),
        url('https://cdn.shopify.com/s/files/1/0834/8034/6932/files/HKGrotesk-ExtraBold_fcad8b26-5b87-48dd-b24d-5735f1b94e13.woff') format('woff');
}

html {
  -webkit-tap-highlight-color: transparent;
}
h1, .h1 {
  font-size: 135px;
}
h2, .h2 {
  font-size: 50px;
}
h3, .h3 {
  font-size: 32px;
}
h4, .h4 {
  font-size: 24px;
}
p, .p {
  font-size: 24px;
}

@media screen and (max-width: 1259px) {
  h1, .h1 {
    font-size: 75px;
  }
  h2, .h2 {
    font-size: 35px;
  }
  h3, .h3 {
    font-size: 20px;
  }
  h4, .h4 {
    font-size: 14px;
  }
  p, .p {
    font-size: 16px;
  }
}

html {
  scroll-behavior: smooth;
}
:root {
  --font-body-family: "GT Walsheim";
  --font-heading-family: "GT Walsheim";
}
.scroll-to-wrapper {
  display: block !important;
}
.header__inline-menu {
  margin-left: unset;
  grid-area: unset;
}
.header__inline-menu.top-right-menu {
  text-align: right;
}
nav .list-menu a {
  font-family: "HK Grotesk";
  font-size: 25px;
  font-weight: 800;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  text-decoration: none;
  background: none !important;
}
.rte a {
  text-underline-offset: 6px;
  text-decoration-thickness: 2px;
}
.rte a:hover,
.contact .heading-container .text-container span.email a:hover {
  color: #FFCBDD;
}
.top-left-menu .list-menu--inline,
.top-right-menu .list-menu--inline {
  column-gap: 9rem;
}
header.header {
  max-width: 136rem;
  margin: auto;
}
.list-menu > li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.list-menu > li > a {
  z-index: 1;
  position: relative;
}
.list-menu .shape {
  position: absolute;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
}
.top-left-menu ul li:nth-of-type(1) a,
.top-left-menu ul li:nth-of-type(1) a + .shape,
.top-right-menu ul li:nth-of-type(1) a,
.top-right-menu ul li:nth-of-type(1) a + .shape,
.top-left-menu ul li:nth-of-type(2) a,
.top-left-menu ul li:nth-of-type(2) a + .shape,
.top-right-menu ul li:nth-of-type(2) a,
.top-right-menu ul li:nth-of-type(2) a + .shape {
  transition:all 0.2s ease-out;
}
.top-left-menu ul li:nth-of-type(1) a:hover,
.top-left-menu ul li:nth-of-type(1) a:hover + .shape,
.top-right-menu ul li:nth-of-type(1) a:hover,
.top-right-menu ul li:nth-of-type(1) a:hover + .shape  {
  transform: rotate(10deg);
  opacity: 1;
}
.top-left-menu ul li:nth-of-type(2) a:hover,
.top-left-menu ul li:nth-of-type(2) a:hover + .shape,
.top-right-menu ul li:nth-of-type(2) a:hover,
.top-right-menu ul li:nth-of-type(2) a:hover + .shape {
  transform: rotate(-10deg);
  opacity: 1;
}
.top-left-menu ul li a span,
.top-right-menu ul li a span {
  text-decoration: none !important;
}
.image-with-text__media {
  display: flex;
  align-items: center;
  padding: 0 !important;
}
.image-with-text__media img {
  position: relative !important;
}
form input,
form textarea,
form select {
  background: transparent !important;
}
.banner__content.no-content {
  display: none;
}
.multicolumn-card__info .inline-richtext {
  font-family: HK Grotesk;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 0.15em;
  padding-bottom: 4px;
  text-decoration: none;
  text-transform: uppercase;
  color: inherit;
}
.multicolumn-card__info a.inline-richtext:hover {
  color: #FFCBDD;
}
.multicolumn-card__info .rte p {
  font-size: 16px;
}
.multicolumn-list {
  row-gap: 1.4rem;
}
.image-with-text__media-item .svg-container {
  position: absolute;
  bottom: 1.5rem;
  left: -8rem;
  z-index: 2;
}
.image-with-text__media-item .svg-container svg {
  max-width: calc(11vw + 1vw);
}
.image-with-text__text {
  margin-top: 1.5rem !important;
}
.image-with-text__text p {
  line-height: 34px;
}
.image-with-text__text p:not(:last-of-type) {
  margin-bottom: 3rem !important;
}
.multicolumn-card__info.no-content {
  display: none;
}
button,
a.button {
  font-size: 32px !important;
  padding: 2rem !important;
  opacity: 1 !important;
}
button.button--primary,
button.button--secondary,
a.button--primary,
a.button--secondary {
  min-width: 30.5rem !important;
  min-height: 10rem !important;
}
button:after,
a.button:after,
form .field:after {
  box-shadow: none !important;
}
form .field {
  margin-bottom: 0 !important;
}
.contact .heading-container {
  display: flex;
  align-items: center;
  margin-bottom: 4rem;
}
.contact .heading-container h2 {
  width: 139rem;
}
.contact .heading-container .text-container {
  margin-top: 4rem;
}
.contact .heading-container .text-container p {
  margin: 0;
  font-size: 24px;
  line-height: 34px;
}
.contact .heading-container .text-container span.email {
  font-family: HK Grotesk;
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: block;
  margin-top: 2rem;
}
.contact .heading-container .text-container span.email a {
  text-decoration: none;
  color: inherit;
}
.contact__fields {
  grid-template-columns: unset !important;
}
form .form-field {
  display: flex;
  align-items: baseline;
  margin-bottom: 1.2rem;
}
form .form-field span {
  font-size: 32px;
  width: 30%;
}
.contact__button {
  text-align: right;
}
form input,
form textarea {
  border-bottom: 3px solid !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  box-shadow: none !important;
}
form label {
  left: 0;
}
form textarea {
  padding-top: 0 !important;
  height: auto !important;
}
form input {
  padding-bottom: 1.5rem !important;
  padding-top: 0rem!important;
}
form input,
form textarea,
form input::placeholder,
form textarea::placeholder {
  color: #7e4220 !important;
  font-family: GT Walsheim !important;
  font-size: 32px !important;
  font-weight: 300 !important;
}
form input::placeholder,
form textarea::placeholder {
  opacity: 0.5 !important;
}
.footer__copyright {
  margin: 0 !important;
}
.footer__copyright .copyright__content {
  margin: 0;
  font-family: HK Grotesk;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.15em;
  text-transform: uppercase;
}
.footer__content-bottom-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding: 0em 4rem;
  max-width: 100%;
}
footer .list-social__link {
  padding: 0;
}
footer .list-social__item .icon {
  width: 3.7rem;
  height: auto;
}
.menu-drawer {
  width: 100% !important;
}
.menu-drawer__navigation {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}
.field .accordion {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  padding: 0;
  font-size: 32px;
  font-weight: 300;
  transition: 0.4s;
  padding-right: 1rem;
}
.field .accordion span:first-of-type {
  opacity: 0.5;
}
.field .accordion span:last-of-type {
  width: auto;
  display: flex;
  margin-top: 1.6rem;
}
.field .accordion span:last-of-type svg {
  transition: 0.4s;
}
.field .accordion.active span:last-of-type svg {
  transform: rotate(180deg);
}
.field .panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.select-field {
  border-bottom: 3px solid;
  flex-direction: column;
}
.select-field .radio-buttons {
  padding-bottom: 1rem;
}
.select-field label {
  font-size: 32px;
  font-weight: 300;
  cursor: pointer;
  display: block;
}
.select-field input[type="radio"] {
  display: none;
}
.select-field input[type="radio"]:checked + label {
  color: #FFCBDD;
}
#textarea-field {
  flex-direction: column;
}
#textarea-field textarea:focus,
#textarea-field textarea:not(:placeholder-shown) {
  padding-bottom: 1.5rem !important;
}
.required-fields {
  font-family: GT Walsheim;
  font-size: 24px !important;
  width: auto !important;
  margin-top: 0.6rem;
  display: block !important;
}
.contact__button .success-msg {
  text-align: left;
  font-size: 24px;
  display: flex;
  width: 100%;
}
.contact__button .success-msg h2 {
  margin: 0;
  font-size: 24px;
  padding-right: 6rem;
  display: inline-block;
  letter-spacing: unset;
}
.contact__button .icon-success {
  width: 20px;
  height: auto;
  margin: 0 !important;
  top: 3px;
  position: relative;
}
*:focus-visible {
  outline: none !important;
  box-shadow:  none !important;
}
.field .accordion .selected-budget {
  width: 100%;
  display: none;
  opacity: 1 !important;
  color: #FFCBDD;
}
.field .accordion:not(.active) .selected-budget:not(:empty) ~ .small-hide,
.field .accordion:not(.active) .selected-budget:not(:empty) ~ .medium-hide {
  display: none !important;
}
@media screen and (max-width: 1259px) {
  .header {
    grid-template-areas: "heading left-icons";
    grid-template-columns: 3fr 1fr;
    padding: 11px .8rem 12px 1.8rem!important;
  }
  .header > .header__search {
    display: none;
  }
  header-drawer {
    justify-self: end !important;
  }
  .header__heading-link {
    padding: 0;
  }
  .header__heading-logo {
    max-width: 27rem;
  }
  .header__icon--menu .icon-close {
    width: 1.6rem;
  }
  .header__heading {
    justify-self: start;
  }
  .banner__media.has-mobile {
    position: relative;
  }
  .banner__media.has-mobile img {
    position: relative !important;
  }
  .banner__media.has-mobile:before {
    padding: 0 !important;
  }
  .menu-drawer__menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 11rem;
    margin-top: 2rem !important;
  }
  .list-menu .shape {
    opacity: 1;
  }
  .menu-drawer__menu li:nth-of-type(1) {
    transform: rotate(10deg);
    left: -1.5rem;
  }
  .menu-drawer__menu li:nth-of-type(2) {
    transform: rotate(-33.39deg);
    top: 9rem;
  }
  .menu-drawer__menu li:nth-of-type(3) {
    transform: rotate(80.35deg);
    top: 4rem;
    left: -3rem;
  }
  .menu-drawer__menu li:nth-of-type(4) {
    transform: rotate(15.05deg);
    top: 10.5rem;
    right: 1.5rem;
  }
}
@media screen and (min-width: 750px) {
  .image-with-text__heading {
    line-height: normal;
  }
  .contact__button {
    margin-top: 3rem !important;
    display: flex;
    justify-content: right;
    max-width: 90.5rem;
    margin-left: auto;
    align-items: end;
  }
  button:hover,
  a.button:hover { 
    color: #7E4220;
    background-color: #FFCBDD;
  }
}
@media screen and (max-width: 1200px) {
  .contact .heading-container {
    flex-direction: column;
    margin-bottom: 3rem;
  }
  .contact .heading-container h2 {
    width: unset;
    margin-bottom: 0;
    word-break: normal;
  }
  form .form-field span {
    display: none;
  }
  .field .accordion span.medium-hide {
    display: block !important;
    width: auto;
    opacity: 0.5;
    line-height: 30px;
  }
  .field .accordion span:last-of-type {
    margin-top: 1rem;
  }
  form .form-field {
    margin-bottom: 2rem;
  }
  .select-field {
    padding-bottom: 1.6rem;
  }
}
@media screen and (max-width: 749px) {
  .multicolumn-card__info {
    display: none;
  }
  .contact .heading-container .text-container {
    max-width: 100%;
    text-align: center;
    padding: 0px 10px;
  }
  .contact .heading-container .text-container p {
    font-size: 16px;
    line-height: 24px;
  }
  .contact .heading-container .text-container span.email {
    font-size: 1.2rem;
  }
  button,
  a.button {
    min-width: unset !important;
  }
  .multicolumn-list:not(.slider) {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
    row-gap: 1rem;
    column-gap: 1rem;
  }
  .multicolumn-list {
    row-gap: 1rem;
  }
  .page-width {
    padding: 0 2rem;
  }
  .image-with-text__media-item .svg-container {
    bottom: -5.4rem;
    left: 2rem;
  }
  .image-with-text__media-item .svg-container svg {
    max-width: 11rem;
  }
  .image-with-text__heading {
    width: 100%;
    line-height: 8rem;
  }
  .image-with-text__text p {
    line-height: 24px;
  }
  .image-with-text__text p:not(:last-of-type) {
    margin-bottom: 2.5rem !important;
  }
  .multicolumn-list:not(.slider) > li:nth-of-type(5),
  .multicolumn-list:not(.slider) > li:nth-of-type(7),
  .multicolumn-list:not(.slider) > li:nth-of-type(9),
  .multicolumn-list:not(.slider) > li:nth-of-type(11) {
    display: none;
  }
  .footer__content-bottom-wrapper {
    padding: 0px 2rem;
    justify-content: space-between !important;
  }
  p.copyright__content {
    font-size: 1.2rem !important;
  }
  footer .list-social__item .icon {
    width: 2.8rem;
  }
  footer.footer {
    padding-top: 2.3rem;
    padding-bottom: 2.3rem;
  }
  .contact .heading-container .text-container {
    margin-top: 0;
  }
  form input {
    padding-bottom: 0.5rem !important;
  }
  form input, form textarea,
  form input::placeholder,
  form textarea::placeholder {
    font-size: 20px !important;
  }
  form input,
  form textarea {
    border-bottom: 2px solid !important;
  }
  form input,
  form textarea,
  form input::placeholder,
  form textarea::placeholder {
    font-weight: 400 !important;
  }
  .field .accordion span.medium-hide {
    font-size: 20px;
    font-weight: 400;
    color: #7E4220;
    opacity: 1;
  }
  .select-field {
    border-bottom: 2px solid;
    padding-bottom: 6px;
  }
  .select-field label {
    font-size: 20px;
    margin-top: 6px;
  }
  .select-field {
    margin-top: -10px;
    padding-bottom: 1.2rem;
  }
  .required-fields {
    font-size: 14px !important;
  }
  .multicolumn-list:not(.slider) li {
    width: calc(48% - var(--grid-mobile-horizontal-spacing) / 2) !important;
  }
  .contact__button {
    display: flex;
    flex-direction: column-reverse;
  }
  .contact__button .success-msg {
    margin-top: 1rem;
  }
  .contact__button .success-msg h2 {
    padding: 0;
    font-size: 20px;
  }
  .field .accordion {
    align-items: center;
  }
  form .form-field span.title-container {
    display: block;
    width: 90%;
  }
  .field .accordion .selected-budget {
    display: block;
    font-size: 20px;
    line-height: 30px;
    margin-top: 1rem;
  }
}











